@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}


/* ============= VARIABLES CSS ============= */
:root {
  --first-color: rgb(11, 61, 102);
  --color-purple-light: rgb(70,130,180);
  --color-white-pink: rgb(33, 33, 33);
  --clean-white-purple: rgb(70,130,180);
  --text-color-light: rgb(134, 122, 159);
  --scroll-thumb-color: rgb(161, 151, 180);
  --scroll-bar-color: rgb(188, 181, 201);
  --clean-light-gray: rgb(189, 189, 189);
  --color-clean-white:rgb(241, 239, 239);
  --color-white: rgb(255, 255, 255);
  --color-black-light: rgb(36, 36, 36);
  --color-black: rgb(27, 14, 14);
  --color-black-clean: rgb(33, 33, 33);
  --color-blue-light-hover: rgb(87, 164, 226);
  --color-white-hover: rgb(233, 231, 231);
}


.max-width {
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}


/* ============= MENU NAVBAR ============= */
.nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  padding: 30px 0;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s ease;
}

/* script js sticky*/
.nav-bar.sticky {
  padding: 15px 0;
  background: var(--color-black-light);
  z-index: 999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.nav-bar .max-width {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 !important;
  padding: 0 !important;
  display: flex;
}

.nav-bar .logo a {
  color: var(--color-white);
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}

.nav-bar .logo a span {
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  display: inline-block;
}

.nav-bar .menu li {
  list-style: none;
  display: inline-block;
}

.nav-bar .menu {
  margin-bottom: 0 !important;
}

.nav-bar .menu li a {
  display: block;
  color: var(--color-white);
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
  text-decoration: none;
}

.nav-bar .menu li a:hover {
  color: var(--color-purple-light);
}

/* script js sticky */
.nav-bar.sticky .menu li a {
  color: var(--color-white);
}

.nav-bar.sticky .menu li a:hover {
  color: var(--color-purple-light);
}

.menu-responsive {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: var(--color-black-clean);
  text-align: center;
  padding-top: 80px;
  z-index: 998;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.menu-btn{
  display: none;
}

.menu-responsive li {
  display: block;
  margin: 20px 0;
}

.menu-responsive li a {
  font-size: 25px;
  color: var(--color-white);
  text-decoration: none;
}

.fa-bars{
  color: var(--color-white);
  font-size: 1.5rem;
}

/* Exibir o menu responsivo quando a classe 'active' for adicionada */
.menu-responsive.active {
  display: block;
  transform: translateX(0);
}

.btn-me {
  padding: 0.5rem 0.8rem;
  background-color: var(--color-white);
  text-decoration: none;
  border-radius: 1rem;
  color: var(--color-black);
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn-me-wpp {
  padding: 0.5rem !important;
  background-color: var(--color-white) !important;
  text-decoration: none;
  border: 1px solid var(--color-white) !important;
  border-radius: 1rem !important;
  color: var(--color-black) !important;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.btn-me-wpp:hover, .btn-me:hover {
  background-color: rgba(236, 234, 234, 0.87) !important;
  border: 1px solid rgba(236, 234, 234, 0.87) !important;
}

.fa-whatsapp {
  font-size: 20px;
  background-color: rgb(63, 204, 63);
  padding: 0.1rem 0.2rem;
  color: white;
  border-radius: 20px;
}

.btn-me-responsive {
  display: none;
}

.icon-wpp{
  width: 25px;
  height: 25px;
}


/* ============= HOME SECTION ============= */
.home {
  display: flex;
  background: url("../img/banner-bg.png") top no-repeat;
  background-size: cover;
  color: var(--color-white);
  height: 100vh;
  min-height: 500px;
  font-family: 'Ubuntu', sans-serif;
}

.home-icon img {
  width: 370px;
  height: 370px;
  border-radius: 100%;
  position: absolute;
  object-fit: cover;
  border: 1px solid transparent;
  right: 30vh;
  transition: all .50s ease;
}

.img-home-responsive {
  display: none;
}

.home-icon img:hover {
  transform: scale(1.2);
}

.home .max-width {
  margin: auto 0 auto 40px;
}

.home .home-content .text-1 {
  font-size: 27px;
}

.home .home-content .text-2 {
  font-size: 55px;
  font-weight: 600;
  margin-left: -5px;
}

.home .home-content .text-3 {
  font-size: 36px;
  margin: 6px 0;
}

.home .home-content .text-3 span {
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  display: inline-block;
}

.about-content span{
  font-weight: bold;
}

/* social media icons  */
.social-media {
  margin-top: 30px;
}

.social-media a {
  display: inline-block;
  margin: 9px;
  font-size: 34px;
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  display: inline-block;
  cursor: pointer;
  margin-right: 15px;
  transition: all .50s ease;
}

.social-media a:hover i {
  transform: translateY(-3px);
  transition: all 0.5s ease;
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  display: inline-block;
}


/* ============= ABOUT SECTION/ALL SIMILIAR STYLING ============= */
section {
  padding: 100px 0;
}

.about,
.services,
.skills,
.conquest,
.portfolio,
.contact,
footer {
  font-family: 'Poppins', sans-serif;
  background: radial-gradient(circle, rgba(70,130,180,1) 0%, rgba(195,236,254,1) 100%);
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.services .serv-content {
  justify-content: space-evenly;
}

section .title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  margin: 60px;
  padding-bottom: 20px;
  font-family: 'Ubuntu', sans-serif;
}

section .title::after {
  position: absolute;
  bottom: -12px;
  left: 50%;
  font-size: 20px;
  color: var(--first-color);
  padding: 5px;
  background: var(--color-white);
  transform: translateX(-50%);
}

.about .title::after {
  background:transparent;
  content: "minha história";
  white-space: nowrap;
}

.about .about-content .left {
  width: 40%;
}

.about .about-content .left img {
  height:360px;
  width: 360px;
  margin-bottom: 100px;
  object-fit: cover;
  border-radius: 100%; 
  border: 1px solid transparent;
}

.about .about-content .right {
  width: 50%;
}

.about .about-content .right .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}

.about .about-content .right .text span {
  color: var(--first-color);
}

span {
  color: var(--first-color);
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right p {
  text-align: justify;
}

.about .about-content .right a {
  width: 210px;
  display: flex;
  align-items: center;
  background: var(--first-color);
  color: var(--color-white);
  font-size: 20px;
  font-weight: 500;
  gap: 0.5rem;
  padding: 10px 25px;
  margin-top: 20px;
  border-radius: 30px;
  border: 2px solid var(--first-color);
  transition: all 0.3s ease;
  text-decoration: none;
}

.about .about-content .right a:hover {
  color: var(--color-blue-light-hover);
  background: none;
}

.services,
.conquest,
.contact {
  color: var(--color-white);
  background: var(--color-black);
}

.services #particles-js {
  position: absolute;
  width: 100%;
  height: 85vh; 

}

.services .title::before,
.conquest .title::before,
.contact  .title::before {
  background: var(--color-white);
}

.services .title::after {
  background: var(--color-black);
  content: "o que forneço";
  color: var(--color-purple-light);
  white-space: nowrap;
}

.services .serv-content .card {
  width: calc(33% - 20px);
  height: 360px;
  background: var(--color-black-clean);
  text-align: center;
  border-radius: 30px;
  padding: 25px 25px;
  border: 2px solid transparent;
  cursor: pointer;
  transition: all .50s ease;
  z-index: 50;
  margin: 15px 0px;
}

.services .serv-content .card:hover {
  transform: scale(1.05) translateY(-5px);
  border: 2px solid var(--color-purple-light);
}

.services .serv-content .card .box {
  transition: all 0.3s ease;
}


.services .serv-content .card i {
  font-size: 32px;
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease;
  display: inline-block;
}

.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-clean-white);
  margin: 10px 0 7px 0;
}

.services .serv-content .card .box p {
  max-width: 100%;
  color: var(--color-clean-white);
}


/* ============= SKILLS SECTION ============= */
.skills .title::after {
  background: transparent;
  content: "minhas skills";
  white-space: nowrap;
}

.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .right .bars {
  margin-bottom: 15px;
}

.skills .skills-content .right .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .skills-content .right span {
  font-weight: 500;
  font-size: 18px;
}

.skills .skills-content .right .line {
  height: 7px;
  width: 100%;
  border-radius: 20px;
  background: white;
  position: relative;
}

.skills .skills-content .right .line::before {
  content: "";
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 20px;
  border: 1px solid var(--first-color);
  background: var(--first-color);
}

.skills-content .right .html::before {
  width: 80%;
}

.skills-content .right .css::before {
  width: 70%;
}

.skills-content .right .bootstrap::before {
  width: 60%;
}

.skills-content .right .js::before {
  width: 45%;
}

.skills-content .right .vue::before {
  width: 35%;
}

.skills-content .right .sql::before {
  width: 40%;
}


/* ============= CONQUEST SECTION ============= */
.conquest {
  background: var(--color-black);
  padding: 20px;
}

.conquest .title::after {
  content: "certificados";
  color: var(--color-purple-light);
  background: var(--color-black);
  white-space: nowrap;
}

.conquest .carousel .card {
  background: var(--color-black-clean);
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 30px 45px;
  margin: 0;
  transition: all .50s ease;
}

.conquest .carousel .card:hover {
  border: 2px solid var(--color-purple-light);
}

.conquest .carousel .card .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.conquest .carousel .card:hover .box {
  transform: scale(1.06);
}

.conquest .carousel .card img {
  height: auto;
  max-width: 100%;
}

.owl-dots {
  text-align: center;
  margin-top: 20px;
}

.owl-dot {
  height: 13px;
  width: 13px;
  margin: 0 5px;
  outline: none !important;
  border-radius: 50%;
  border: 2px solid var(--color-purple-light) !important;
  transition: all 0.3s ease;
}

.owl-dot.active {
  width: 35px;
  border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
  background: var(--color-purple-light) !important;
}


/* ============= PROJECT SECTION ============= */
.portfolio .title::after {
  background: transparent;
  content: "meu portfólio";
  white-space: nowrap;
}

.portfolio-container {
  overflow: initial;
  max-width: 768px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  top: 0px;
}

.portfolio-content {
  display: grid;
  gap: 1.5rem;
  padding: 0 1.5rem;
}

.portfolio-img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: .5rem;
  justify-self: center;
}

.portfolio-title {
  font-size: 1.125rem;
  margin-bottom: .5rem;
}

.portfolio-description {
  margin-bottom: .75rem;
}

.icon-wpp-header {
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
}

.portfolio-button {
  display: inline-flex;
  align-items: center;
  background: var(--first-color);
  color: var(--color-white);
  font-weight: 500;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 30px;
  border: 2px solid var(--first-color);
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.portfolio-button .button-icon {
  display: inline-block;
  transition: transform 0.3s ease; /* Transição suave para o movimento do ícone */
  margin-left: 3px; /* Espaço entre o texto e o ícone */
}

.portfolio-button:hover .button-icon {
  transform: translateX(5px); /* Move o ícone 5px para a direita no hover */
}

.button-icon {
  font-size: 17px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';
}

.swiper-portfolio-icon {
  font-size: 2rem;
  color: var(--first-color);
}

.swiper-button-prev {
  left: -.5rem;
}

.swiper-button-next {
  right: -.5rem;
  margin-right: -1.40rem;
}

.portfolio-container .swiper-pagination {
  bottom: 2.5rem;
}

.swiper-button-prev,
.swiper-button-next {
  outline: none;
}



/* ============= CONTACT SECTION ============= */
.contact .title::after {
  content: "mensagem";
  color: var(--color-purple-light);
  background: var(--color-black);
  white-space: nowrap;
}

.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  display: inline-block;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left .icons {
  margin: 10px 0;
}

.contact .contact-content .right {
  margin-bottom: 210px;
}

.contact .contact-content .row {
  display: flex;
  width: 90% !important;
  height: 65px;
  align-items: center;
 }

 .info-icons {
  display: flex;
  align-items: center !important;
 }

.contact .contact-content .row .info {
  margin: -50px 0 0 25px;
}

.contact .contact-content .row i {
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background 0.3s ease;
  display: inline-block;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: var(--color-clean-white);
}

.contact .contact-content .input-area input:focus,
.contact .contact-content .input-area textarea:focus,
.contact .contact-content .input-area input.active {
  border: 2px solid var(--color-purple-light);
}


.contact .right form .fields {
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 10px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .number {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 2px solid var(--clean-light-gray); 
  border-radius: 10px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'poppins', sans-serif;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
  margin-top: 15px;
}

.contact .right form .button button{
  width: 100%;
  height: 100%;
  border: 2px solid var(--color-purple-light);
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  background-size: 200% 100%;
  background-position: 0 0;
  color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 1.2s ease;
  display: inline-block;
  font-size: 20px;
  font-weight: 500;
  border-radius: 30px;
  cursor: pointer;
}

.contact .right form .button button:hover {
  background-position: 100% 0;
  color: black;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}


/* ============= FOOTER ============= */
footer {
  background: var(--color-black-clean); 
  padding: 17px 23px;
  color: var(--color-white) !important;
  text-align: center;
}

footer span {
  color: var(--color-white) !important;
}

footer span a {
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgba(70, 130, 180, 1) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  display: inline-block;
  text-decoration: none;

}

footer span a:hover {
  background: linear-gradient(90deg, rgba(195, 236, 254, 1) 1%, rgb(54, 110, 156) 38%, rgba(195, 236, 254, 1) 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
  display: inline-block;
}

.icons-container {
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
  gap: 2rem;
  margin: 0 0 0 3rem;
  padding: 20px 0;
}

.icons-ti {
  width: 85px;
  height: 85px;
  transition: transform 0.3s ease, filter 0.3s ease;
  cursor: pointer;
}

.icons-ti:hover {
  transform: translateY(-5px);
  filter: grayscale(0);
}


/* ============= SCROLL UP ============= */
.scrollup {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  right: 1rem;
  bottom: -30%;
  background-color: var(--first-color);
  opacity: .9;
  font-size: 1.5rem;
  color: var(--color-white);
  padding: 6px;
  border-radius: 100%;
  z-index: 9999;
  transition: bottom .4s, transform .4s;
  cursor: pointer;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* show scroll */
.show-scroll {
  bottom: 3rem;
}


/* ============= SCROLL BAR ============= */
::-webkit-scrollbar {
  width: .6rem;
  background-color: var(--scroll-bar-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-color);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--text-color-light);
}
